@font-face {
  font-family: 'Christbell';
  src: local('Christbell'), url(./fonts/Christbell.ttf) format('truetype');
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  min-width: 390px;
  position: relative;
  background-color: #C21010;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border:2px solid #fff;
}
.list h1{
  margin: 1rem;
  font-size: 3rem;
  font-family: "Christbell";
}

.list h1, ul{
  color:#fff
}
.list ul {
  width: 100%;
  overflow-y: auto;
  max-height: 50%;
  font-size: 1.5rem;
  padding: 0;
  list-style: none;
}

.list ul li {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.giftForm{
  width: 100%;
  height: 2rem;
}

.giftInput{
  padding: 0;
 border: none; 
  height: 100%;
  width: 60%;
}

.giftInput:focus,.giftQuantity:focus {
 outline: none; 
}
.giftButton{
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: green;
  border:none;
  height: 100%;
  width: 20%;
}

.giftButton:hover{
  opacity: .9;
}

.giftQuantity{
  border-left: 1px solid red;
  padding: 0;
  border: none; 
   height: 100%;
   width: 15%;

}



.deleteBtn{
  background-color: red;
  border:none;
  width: 10%;
  color:#fff

}

.deleteAll{
  width: 90%;
  background-color: red;
  color:#fff;
  border:none;
  height: 2rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
}

.emptyList{
  font-size: 1rem;
}



