@font-face {
  font-family: "Christbell";
  src: local("Christbell"), url(./fonts/Christbell.ttf) format("truetype");
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  min-width: 390px;
  max-width: 80%;
  position: relative;
  background-color: #c21010;
  max-height: 90%;
  display: flex;
  align-items: center;
 
  flex-direction: column;
  padding: 1rem;
  border: 2px solid #fff;
}
.list h1 {
  margin: 1rem;
  font-size: 3rem;
  font-family: "Christbell";
}

.list h1,
ul {
  color: #fff;
}
.list ul {
  width: 90%;
  overflow-y: auto;
 max-height: 50%;
  
  padding: 0;
  list-style: none;
}

.list ul li {
  height: 3rem;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.giftForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80%;
}

.giftInput {
  margin: 2px;
  padding: 0;
  border: none;
  height: 2rem;
  width: 90%;
}
.giftInputGroup {
  display: flex;
  width: 90%;
}
.giftInputName {
  border: none;
  height: 2rem;
  width: 70%;
  padding: 0;
}

.randomBtn {
  padding: 0;
  width: 30%;
  height: 2rem;
  margin: 0 2px;

  font-size: 0.8rem;
  font-weight: bold;
  background-color: green;
  border: none;
}
.giftInput:focus,
.giftQuantity:focus {
}
.giftButton {
  margin: 2px;
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: green;
  border: none;
  height: 2rem;
  width: 90%;
}

.giftButton:hover {
  opacity: 0.9;
}

.giftQuantity {
  margin: 2px;
  border-left: 1px solid red;
  padding: 0;
  border: none;
  height: 2rem;
  width: 90%;
}

.deleteBtn {
  margin: 0 5px;
  background-color: red;
  border: none;
  width: 1rem;
  color: #fff;
}


.emptyList {
  font-size: 1rem;
}

.giftPic {
  height: 3rem;
  width: 4rem;
}

.openModal {
  width: 90%;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: green;
  border: none;
  height: 2rem;
}
.line {

  
  text-align: left;
  display: block;
  font-size: 1.5rem;
}

.who {
  font-style: italic;
  color: #000;
  font-size: 1rem;
}

.editBtn {
  margin: 0 5px;
  background-color: green;
  border: none;
  width: 1rem;
  color: #fff;
}

.total {
  /* position: absolute;
  bottom: 50px; */
  width: 100%;
  display: block;
  font-weight: bold;
  border-top: #fff 1px solid;
  color: #fff;
}

.bottomButtons {


}

.deleteAll {
  margin : 10px 0;
  width: 80%;
  background-color: red;
  color: #fff;
  border: none;
  height: 2rem;
  font-weight: bold;
  padding:10px 0
  /* position: absolute;
  bottom: 10px; */
}

.previsualize ,.print{
  margin : 10px 0;
  width: 90%;
  background-color: green;
  color: #fff;
  border: none;
  height: 2rem;
  font-weight: bold;
  padding:10px 0
  /* position: absolute;
  bottom: 10px; */
}

 
.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 5rem;
  width: 95%;
  background-color: #c21010;
  /* position: absolute;
  bottom:0px; */
}

.sound {
  color:#fff;
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
 

}



