.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border:2px solid #fff;
}
.list h1{
  font-size: 3rem;
}

.list h1, ul{
  color:#fff
}
.list ul {
  font-size: 2rem;
  padding: 0;
  list-style: none;
}

.list ul li {
  text-align: start;
}
