@font-face {
  font-family: "Christbell";
  src: local("Christbell"), url(./fonts/Christbell.ttf) format("truetype");
}
.overlay {
    
  background-color: #070707ee;
  
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
 
}
.modal {
   
  padding-bottom: 2%;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  background-color: #c21010;

  height: auto;
  transform: translate(-50%, -50%);
}

.modalTitle {
  text-align: center;
  color: #fff;
  font-family: "Christbell";
}

.closeModal {
  margin: 2px;
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: red;
  border: none;
  height: 2rem;
  width: 90%;
}

ul {
  width: 90%;
  padding: 0;
}

ul li {
margin: 5px 0 ;
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul li img,ul li span  {
  display: inline;
}

ul li div {
  margin: 0 10px;
}

@media print {
  .overlay {
    
    background-color: #fff;
    
   
  }
  }